.product-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 60px 80px;
    margin: 40px 20px;
  }
  
  .load-pc{
    width: 100%;
  }
  