.header {
    position: absolute;
    width: 100%;
  }
  .header-container {
    display: grid;
    /* grid-template: 1fr / 1fr 1fr 1fr; */
    grid-template: 1fr 1fr/ 1fr 1fr;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 1024;
  }

  /*backgrounds*/
  .background--transparent {
    background-color: transparent;
  }
  
  .background--black {
    background-color: rgba(29, 29, 29, 0.9);
  }
  
  .arrow::after {
    width: 5px;
    height: 5px;
    transform: rotate(135deg);
    border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    content: '';
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.4s ease-in-out 0s;
  }