:root {
  /*fonts*/
  --catamaran-font: 'Catamaran', sans-serif;
  --mulish-font: 'Mulish', sans-serif;
  /*colors*/
  --primary-color: #af0000;
  --secondary-color: #256b3e;
  --body-bg-color: #1d1d1d;
  --border-color: #555555;
  --success-color: #4f8a10;
  --error-color: #d8000c;
  --info-color: #31708f;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--mulish-font);
}

body {
  background-color: var(--body-bg-color);
  color: var(--just-white);
}

button {
  border: none;
  background: none;
}

.button-primary {
  background-color: var(--primary-color);
  border: none;
  font-family: var(--mulish-font);
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto;
  width: 112px;
  height: 36px;
  cursor: pointer;
  transition: all 0.150s ease;
}

.button-primary:hover{
  transform: translate(-1px,-1px);
}
.button-primary:active{
  transform: translate(1px,1px);
}

.button-padding{
  width: auto;
  padding: 12px 16px;
  line-height: 0.5rem;
}

li {
  list-style: none;
}

.display-page{
  padding-top: 160px;
  min-height: calc(100vh - 158px);
  text-align: center;
}


